{% extends "base.html" %}

{% block title %}
Corban-Lee Jones | Software Developer
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-xl fixed-top frosted-glass">
    <div class="container-fluid px-5 py-3">
        <a href="/" class="navbar-brand text-reset">
            <i class="bi bi-plugin fs-1 primary-colour"></i>
        </a>
        <button class="navbar-toggler btn-outline-primary-colour" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list" style="font-size: 30px;"></i>
        </button>
        <div class="collapse navbar-collapse mb-2 mb-xl-0" id="navbarCollapse">
            <ul class="navbar-nav ms-0 ms-lg-auto">
                <li class="nav-item px-2">
                    <a class="nav-link text-reset" href="#about">
                        <span class="primary-colour">01</span>. About
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-reset" href="#experience">
                        <span class="primary-colour">02</span>. Experience
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-reset" href="#education">
                        <span class="primary-colour">03</span>. Education
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-reset" href="#work">
                        <span class="primary-colour">04</span>. Work
                    </a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link text-reset" href="#contact">
                        <span class="primary-colour">05</span>. Contact
                    </a>
                </li>
                <li class="nav-item ps-2 mt-2 ps-xl-3 mt-xl-0">
                    <button class="btn btn-outline-primary-colour px-3 py-2">
                        Let's Talk
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<section class="hero mt-5 pt-5">
    test
</section>
{% endblock %}