:root {
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;

    --primary-color: #69bfa8;
    --secondary-color: #689f38;
    --background-color: #212121;
    --text-color: rgb(204, 214, 246);

    --primary-color-opacity-10: rgba(105, 191, 168, 0.1);
    --background-color-opacity-10: rgba(33, 33, 33, 0.1);
}

html {
    height: 100vh;
}

body {
    background-color: var(--background-color)!important;
    color: var(--text-color);
    font-family: var(--font-mono)!important;
    font-size: 13px!important;
}

.frosted-glass {
    background-color: var(--background-color-opacity-10);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }

.navbar {
    color: var(--text-color);
    /* background-color: var(--primary-color-opacity-10); */
}

a.nav-link {
    color: var(--text-color)!important;
}

a.nav-link:hover {
    color: var(--primary-color)!important;
}

.nav-item button {
    font-size: 13px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link a:hover {
    color: var(--primar-color)!important;
}

.primary-colour  {
    color: var(--primary-color);
}

.primary-bg-colour {
    background-color: var(--primar-color);
}

.secondary-colour {
    color: var(--secondary-color);
}

.text-colour {
    color: var(--text-color);
}

.btn-outline-primary-colour {
    color: var(--primary-color)!important;
    border-color: var(--primary-color)!important;
    transition: background-color .3s !important;
}

.btn-outline-primary-colour:hover {
    background-color: var(--primary-color-opacity-10)!important;
}  
  
a {
    color: var(--primary-color);
}
  
button {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
