{% load static %}
<style>
    @font-face {
        font-family: 'SF Mono';
        src: url('{% static "fonts/SF-Mono.dmg" %}');
    }
    @font-face {
        font-family: 'Fira Code';
        src: url('{% static "fonts/fira_code/FireCode-Regular.tff" %}');
    }
    @font-face {
        font-family: 'Roboto Mono';
        src: url('{% static "fonts/roboto_mono/RobotoMono-Regular.tff" %}');
    }
    @font-face {
        font-family: 'Ubuntu Mono';
        src: url('{% static "fonts/ubuntu_mono/UbuntuMono-Regular.ttf" %}');
    }
    @font-face {
        font-family: 'Poppins Thin';
        src: url('{% static "fonts/Poppins/Poppins-Thin.ttf" %}');
    }
    @font-face {
        font-family: 'Poppins Light';
        src: url('{% static "fonts/Poppins/Poppins-Light.ttf" %}');
    }
    @font-face {
        font-family: 'Poppins';
        src: url('{% static "fonts/Poppins/Poppins-Regular.ttf" %}');
    }
    @font-face {
        font-family: 'Poppins Semibold';
        src: url('{% static "fonts/Poppins/Poppins-SemiBold.ttf" %}');
    }
    @font-face {
        font-family: 'Poppins Bold';
        src: url('{% static "fonts/Poppins/Poppins-Bold.ttf" %}');
    }
</style>